$grid-values: 2, 4, 8, 12, 16, 20, 24, 32, 64;
$directions: top, bottom, left, right;
$property: padding, margin;

@each $prop in $property {
  .#{$prop} {
    @each $value in $grid-values {
      &-x-#{$value} {
        #{$prop}-left: #{$value}px;
        #{$prop}-right: #{$value}px;
      }
      &-y-#{$value} {
        #{$prop}-top: #{$value}px;
        #{$prop}-bottom: #{$value}px;
      }
      @each $direction in $directions {
        &-#{$direction}-#{$value} {
          #{$prop}-#{$direction}: #{$value}px;
        }
      }
    }
    &-auto {
      #{prop}: auto;
    }
    &-x-auto {
      #{prop}-right: auto;
      #{prop}-left: auto;
    }
    &-y-auto {
      #{prop}-top: auto;
      #{prop}-bottom: auto;
    }
    &-none {
      #{$prop}: 0;
    }
    &-x-none {
      #{$prop}-left: 0;
      #{$prop}-right: 0;
    }
    &-y-none {
      #{$prop}-top: 0;
      #{$prop}-right: 0;
    }
    @each $direction in $directions {
      &-#{$direction}-none {
        #{$prop}-#{$direction}: 0;
      }
    }
  }
}

@for $i from 1 to 21 {
  .width-#{$i * 5} {
    width: percentage($i * 5 / 100);
  }
}
